@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "微軟正黑體";
}

#banner {
  height: 380px;
  background: url(../img/Hero.png) center center no-repeat;
  background-size: cover;
}

h1 {
  color: #fff;
  margin-top: 0;
  text-align: center;
  font-size: 40px;
  color: #ffffff;
  letter-spacing: 3.89px;
  font-weight: normal;
  padding-top: 89px;
  margin-bottom: 96px;
  line-height: 1;
}

.selectWrap {
  display: block;
  margin: 0 auto;
  width: 452px;
  max-width: 100%;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.7) url(../img/icons_down.png) no-repeat top 50% right 15px;
}
.selectWrap select {
  -webkit-appearance: none;
          appearance: none;
  width: 100%;
  display: block;
  background: transparent;
  border: 0;
  padding: 15px;
  outline: none !important;
}
@media (max-width: 767px) {
  .selectWrap {
    width: calc(100% - 30px);
  }
}

#hotDistrict {
  width: 800px;
  margin: 0 auto;
  transform: translateY(-50%);
  background: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 15px 20px;
}
#hotDistrict h2 {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 14px;
}
#hotDistrict .hotDistrictList {
  display: flex;
  list-style: none;
}
#hotDistrict .hotDistrictList button {
  border-radius: 5px;
  color: #fff;
  border: 0;
  font-size: 20px;
  padding: 8px 30px;
  margin: 0 12px;
  outline: none;
  cursor: pointer;
}
@media (max-width: 767px) {
  #hotDistrict .hotDistrictList button {
    padding: 5px 10px;
    margin: 0 8px;
    font-size: 16px;
  }
}
#hotDistrict .hotDistrictList button.btnPurple {
  background: #8a82cc;
}
#hotDistrict .hotDistrictList button.btnOrange {
  background: #ffa782;
}
#hotDistrict .hotDistrictList button.btnYellow {
  background: #f5d105;
}
#hotDistrict .hotDistrictList button.btnPurple {
  background: #559ac8;
}
#hotDistrict .hotDistrictList button.btnBlue {
  background: #8a82cc;
}
@media (max-width: 991px) {
  #hotDistrict {
    width: 450px;
  }
}
@media (max-width: 767px) {
  #hotDistrict {
    width: calc(100% - 30px);
  }
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 15px;
}
@media (max-width: 767px) {
  .col-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.divide {
  border-bottom: 1px dashed #559ac8;
  margin-bottom: 65px;
}

.itemBanner {
  background-size: cover;
  padding: 15px 20px;
  height: 130px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  color: #fff;
}
.itemBanner h4 {
  font-size: 20px;
}

.itemInfo {
  background: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  padding: 15px;
}
.itemInfo > div:not(:last-child) {
  margin-bottom: 10px;
}
.itemInfo img {
  display: inline-block;
  margin-right: 8px;
}

.districtItem {
  margin-bottom: 30px;
}

h3 {
  text-align: center;
  font-size: 36px;
  color: #8a82cc;
  margin-bottom: 30px;
}

#paginationWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

#pagination {
  display: flex;
  align-items: center;
  list-style: none;
  overflow-x: auto;
}
#pagination a {
  display: inline-block;
  padding: 8px;
  margin: 0 4px;
  color: #4a4a4a;
  text-decoration: none;
}
#pagination a.active {
  color: #559ac8;
}

#prev,
#next {
  display: block;
  white-space: nowrap;
  margin: 0 5px;
  color: #4a4a4a;
  text-decoration: none;
}
#prev.disabled,
#next.disabled {
  color: rgba(73, 73, 73, 0.5);
}

footer {
  background: #559ac8;
  padding: 30px;
  text-align: center;
}
footer h6 {
  color: #fff;
  margin-bottom: 20px;
}
footer .dataSource,
footer .dataSource a {
  color: #ffd366;
  text-decoration: none;
}